# Python cache
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# Virtual environment
.venv/
env/
venv/

# IDE files (PyCharm, VSCode)
.idea/
.vscode/

# Logs
*.log

# System files
.DS_Store
Thumbs.db
